#root {
  text-align: center;
}

h2 {
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-bottom: 1px solid black;
}

.carousel {
  border: 2px solid #0e0e0f;
}

.carousel-caption {
  background: #776871;
  border-radius: 20px;
}

.name {
  padding-top: 35vh;
  padding-bottom: 35vh;
  background-color: #F0F7EE;
  font-size: 2em;
}

.carousel-container {
  padding-top: 5vh;
  background-color: #AFDEDC;
  padding-bottom: 5vh;
}

.media {
  min-height: 50vh;
  background-color: #C4D7F2;
  padding-top: 15vh;
  padding-bottom: 20vh;
  justify-content: center;
}




.circle {
  width: 100px;
  height: 100px;
  background: #776871;
  border-radius: 50%;
  display: inline-block;
  margin-top: 10vh;
  margin-left: 8vh;
  margin-right: 8vh;
  line-height: 100px;
  color: white;
  font-size: 1em;
}
