#root {
  text-align: center;
}

h2 {
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-bottom: 1px solid black;
}

.carousel {
  border: 2px solid #0e0e0f;
}

.carousel-caption {
  background: #776871;
  border-radius: 20px;
}

.name {
  padding-top: 35vh;
  padding-bottom: 35vh;
  background-color: #F0F7EE;
  font-size: 2em;
}

.carousel-container {
  padding-top: 5vh;
  background-color: #AFDEDC;
  padding-bottom: 5vh;
}

.media {
  min-height: 50vh;
  background-color: #C4D7F2;
  padding-top: 15vh;

  justify-content: center;
}

.media-content-container {
  display: inline-block;

}
